*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
}
body {
	background-color: orange;
	padding: 30px;
	text-align: center;
}
section {
	background: black;
	opacity: .7;
	width: 45%;
	height: 90vh;
	display: inline-block;
	margin: 0 10px;
	padding: 20px;
	text-align: center;
	border: 5px solid grey;
	float: left;
}

h1 {
	margin: 150px 0;
}

form {
	border: 2px solid black;
	margin: 0 2%;
	height: 150px;
	text-align: center;
}

input {
	display: block;
	margin: 5px auto;
	color: red;
	text-align: center;

}

#menu {
	max-width: 300px;
	float: left;
	padding: 50px;
}

/* sizing for the canvas div */
#canvasHolder {
	float: none;
	min-width: 500px;
	width: 70%;
	min-height: 500px;

}

/* default styling */
div {
	background: grey;
	
	margin: 0 auto 10px auto;
	padding-top: 20px;

}



/* body of index.html */

#main {
	background: url(../images/2castle_england.jpg);
	background-size: cover;
}
/* play button */
#play {
	margin: 200px auto 40px auto;
	height: 50px;
	width: 200px;
	background: blue;
}
/* user data field */
.data {
	height: 125px;
}

/* the game over div, originally hidden */
.over{
	background-color: black;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
	color: red;
	padding-top: 150px;
	font-size: 40px;
	display: none;
}

.selecting {
	height: 80%;
	text-align: center;
	padding: 10px;
}	

button {
	display: block;
	margin: 0 auto;
	margin-top: 60px;
	height: 75px;
	width: 75px;
	background: orange;
}

















